# ==========================================
# Django e Python
# ==========================================

__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# ==========================================
# Ambiente Virtual
# ==========================================

venv/
ENV/
env/
.venv/

# ==========================================
# Editor e Ferramentas
# ==========================================

.vscode/
.idea/
*.swp
*.swo

# ==========================================
# Mídias e arquivos gerados
# ==========================================

media/
staticfiles/
static/
build/
dist/

# ==========================================
# Arquivos sensíveis
# ==========================================

.env
*.env
.env.*
/secrets.json

# ==========================================
# OS / Cache
# ==========================================

.DS_Store
Thumbs.db
